@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.cdnfonts.com/css/malibu-2');


.iconNav {
    font-family: 'Malibu', sans-serif;
    font-size: 3rem;
    font-weight: bolder;
    transition: font-size 0.3s ease;
}

.iconNav2 {
    font-family: 'Malibu', sans-serif;
    transition: font-size 0.3s ease;
    font-weight: bold;
    font-size: 2rem;
}

.nav-link {
    font-weight: normal;
    font-family: "Poppins", serif;
}
.nav-link:hover {
    font-weight: bold;
    
}

.isActive{
font-weight: bolder;
}